<body style="background-image: url(https://www.pehub.com/wp-content/uploads/2016/04/Lindsay-Weinberg-fund-Chris-160408.jpg);">

    <div class="bar">
      <h1>WesFund</h1>
      <div class="star">
        <h2><%= link_to "Sign in", "/auth/google_oauth2", id: "sign_in", style:"color: white" %></h2>
      </div>
    </div>

    <div class="catch">
      <h3>you got your dream,</h3>
      <h4>and we got your back.</h4>
    </div>

    <div class="selection">
      <h5>select one to start your search</h5>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </div>

    <div class="wes" id="wes">
      Within Wesleyan
    </div>

    <div class="outside" id="outside">
      Outside Wesleyan
    </div>

</body>
