
  <head>
    <link rel="stylesheet" type="text/css" href="wesfund.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=BodoniClassic" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <div class="bar">
      <h1>WesFund</h1>
      <div class="star">
        <h2><%= link_to "Sign in", "/auth/google_oauth2", id: "sign_in" %></h2>
      </div>
    </div>

  </head>



  <body style="background-image: url(https://www.pehub.com/wp-content/uploads/2016/04/Lindsay-Weinberg-fund-Chris-160408.jpg);">

    <div class="catch">
      <h3>you got your dream,</h3>
      <h4>and we got your back.</h4>
    </div>

    <div class="selection">
      <h5>select one to start your search</h5>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </div>

    <div class="wes" id="wes">
      Within Wesleyan
    </div>

    <div class="outside" id="outside">
      Outside Wesleyan
    </div>

  </body>
