<div class="body">
  <!--Navigation bar-->
  <nav class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">WesFund</a>
  </nav>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <!-- spacer -->
        </div>
        <div class="col-sm-6">
          <div class="quote">
            <h2>You have your dream, </h2>
            <h2>and we have your back.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <!-- spacer -->
        </div>
        <div class="col-sm-6">
          <div class="description">
            <h4>WesFund is an absolute source of interdisciplinary
              funding opportunities available to the Wesleyan community</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <!-- spacer -->
        </div>
        <div class="col-sm-6">
          <div class="signin">
            <%= link_to "Sign in", "/auth/google_oauth2", :id => "sign_in", :style => "color: white", :class => "btn btn-lg btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
