// Place all the styles related to the Insides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.navbar-brand{
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    color: white;
  }
}

// a.btn:hover, a.navbar-brand:hover, a.nav-link, a:visited {
//   background-color: inherit;
//   color:inherit;
// }

.container-fluid {
    .btn-link {
    color: #900;
    font-family: 'Oswald', sans-serif;
    white-space: normal;
    &:visited {
      color: #900;
      white-space: normal;
    }
    &:hover {
      color: #900;
      background-color: inherit;
      white-space: normal;
    }
    &:focus {
      color: #900;
      background-color: inherit;
      white-space: normal;
    }
  }
}

.navbar {
  h6 {
    margin: 0;
    color: white;
  }
  .btn-link {
    color: white;
    white-space: normal;
    font-family: 'Oswald', sans-serif;
    &:visited {
      color: white;
    }
    &:hover {
      color: lightgrey;
      text-decoration: none;
    }
    &:focus {
      color: white;
    }
  }
}

h1 {
  text-align: center;
}

.table {
  th {
   font-family: 'Oswald', sans-serif;
   text-align: center;
   a {
     color: white;
      &:visited {
        color: white;
      }
      &:hover {
        color: white;
      }
      &:focus {
        color: white;
      }
    }
  }
  td {
    text-align: center;
  }
}

// button.btn {
//   color: #900;
// }
